<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kashpirovich.qrscanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_icon_qr"
        android:label="QR - ММКФ43"
        android:roundIcon="@mipmap/my_icon_qr"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRscanner">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="Входная группа"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kashpirovich.qrscanner.MainActivity" />
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="Мероприятия"
            android:parentActivityName=".SecondActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kashpirovich.qrscanner.SecondActivity" />
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="QR-Scanner"
            android:parentActivityName=".EventActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kashpirovich.qrscanner.EventActivity" />
        </activity>
    </application>
</manifest>